@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font: 'Poppins';
    --border: 1px solid #a09f9f8f;
    --border-color: #a09f9f8f;
    --header-hover: #a1a1a160;
}

.datatable-cont{
    font-family: var(--font);
}

.datatable{
    border: 1px solid transparent;
    border-collapse:collapse;
    width: 100%;
    text-align: left;
    overflow-x: auto;
}

.datatable th, .datatable td{
    font-size: 14px;
    max-width: 120px;
    padding: 15px;
    border-bottom: var(--border);
}

/*SEARCHBAR CONTAINER*/
.searchbar-cont{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/*SELECT*/
.select-container{
    span{
        margin-left: 10px;
    };
}

.select-container select{
    font-family: var(--font);
    padding: 8px;
    cursor: pointer;
    border: var(--border);
    outline: none;
}

.searchbar-cont select::picker-icon{
    content: '';
    color: red;
}

.select-container select option{
    color: black;
}

/*INPUT*/
.searchbar-cont input{
    font-family: var(--font);
}

/*HEADER*/
.datatable thead{
    width: 100%;
    background-color: rgb(204, 204, 204);
    top: 0px;
    position: sticky;
}

.datatable th{
    font-weight: 600;
    flex-direction: row;
    transition: background .3s ease-in-out;
    cursor: pointer;
}

.datatable th:hover{
    background-color: var(--header-hover);
}

/*BODY*/
.datatable tbody{
    border-bottom: #b4b4b4e1;
}

/*FOOTER*/
.datatable-footer{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination-cont{
    display: flex;
}

.pagination-cont button{
    outline: none;
    padding: 1rem;
    background-color: none;
    border: 1px solid var(--border-color);
}

.datatable-footer .pages-cont{
    display: flex;
    flex-direction: row;
}

.pages-cont button{
    cursor: pointer;
}

.datatable-cont button.active{
    background-color: #bebebe8f;
}

/*STYLES*/
.datatable.stripped tbody tr:nth-child(even){
    background-color: var(--border-color) !important;
}