@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font: 'Poppins';
    --header-color : #bdbdbd;
    --border: 1px solid #a09f9f8f;
    --border-color: #a09f9f8f;
    --button-header: #8886868f;
    --header-hover: #a1a1a1;
    --select-background: #fff;
    --disabled-button-bg: #d3d3d3;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
}

.datatable{
    width: 100%;
    font-family: var(--font);
    border-collapse:collapse;
    text-align: left;
}

.datatable th, .datatable td{
    font-size: 14px;
    min-width: 120px;
    padding: 15px;
    border-bottom: var(--border);
}

.datatable tbody td{
    text-wrap: nowrap;
    min-width: 120px;
}

/*SEARCHBAR CONTAINER*/
.searchbar-cont{
    font-family: var(--font);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*SELECT*/
.select-container{
    display: flex;
    align-items: center;
    gap: 15px;
}

.select-container select{
    font-family: var(--font);
    padding: 8px;
    cursor: pointer;
    border: var(--border);
    border-radius: 3px;
    outline: none;
}

.select-container select option{
    color: black;
}

/*INPUT*/
.searchbar-cont input{
    font-family: var(--font);
}

/*CLEAR FILTERS BUTTON*/
.clear-filters{
    text-align: center;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    border-radius: 3px;
    transition: .2s background ease;
}

.clear-filters svg{
    width: 30px;
}

.clear-filters:hover{
    background-color: var(--border-color);
}

/*HEADER*/
.datatable thead{
    width: 100%;
    top: 0px;
    position: sticky;
    z-index: 1;
}

.datatable th{
    background-color: var(--header-color);
    text-align: center;
    font-weight: 600;
    flex-direction: row;
    transition: background .3s ease-in-out;
    cursor: pointer;
}

.datatable th:hover{
    background-color: var(--header-hover);
}

.datatable th select{
    border: 1px solid var(--border-color);
    outline: none;
    padding: 3px;
    border-radius: 3px;
    background-color: var(--select-background);
    font-family: var(--font);
    cursor: pointer;
    transition: .2s background ease;
}

.datatable .header-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-cont .buttons-cont{
    display: flex;
    align-items: center;
    gap: 5px;
}

.buttons-cont button{
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: none;
    transition: .3s background ease;
}

.buttons-cont button svg{
    width: 40px;
    height: 30px;
}

.buttons-cont button:hover{
    background-color: var(--button-header);
}

/*BODY*/
.datatable tbody{
    border-bottom: #b4b4b4e1;
}

/*FOOTER*/
.datatable-footer{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datatable-footer span{
    font-family: var(--font);
}

.pagination-cont{
    display: flex;
}

.pagination-cont button{
    cursor: pointer;
    border: none;
    outline: none;
    padding: 1rem;
    background: none;
    transition: .2s background ease-in;
}

.pagination-cont button:hover{
    background-color: var(--border-color);
}

.pagination-cont button.disabled{
    cursor:not-allowed;
    opacity: .5;
}

.pagination-cont button.disabled:hover{
    background: none;
}

.datatable-footer .pages-cont{
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.pages-cont button{
    text-align: center;
    width: 50px;
    font-family: var(--font);
    font-weight: 700;
    padding: 10px;
}

.datatable-footer button svg{
    width: 15px;
}

.datatable-cont button.active{
    background-color: var(--border-color);
}

/*STYLES*/
.datatable.stripped tbody tr:nth-child(even){
    background-color: var(--border-color) !important;
}